<!DOCTYPE html> 

<html>
<head>
<title>Rock--Paper--Scissor</title>
</head>
<body>
<h1>Select....</h1>
<a href="./result?value=Rock&id=id ">
<image src="{{asset('rock.jfif')}}" alt="Rock" /> </a> <br /><br />

<a href="./result?value=Paper&id=id ">
<image src="{{asset('paper.jfif')}}" alt="Paper"  /> </a> <br /><br />

<a href="./result?value=Scissors&id=id ">
<image src="{{asset('scissor.png')}}" alt="Scissors" /> </a> <br /><br />

</body>
</html>
